@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
}

/* default styles */
   *{
      margin:0 ;
      background-color: rgb(56, 55, 55);
      padding: 0;

    }

    /* header */
    .header-container{
      max-width: 1440px;
      margin: 0% auto;

    }

/* nav style starts here */
/*  */


.nav-container{
  /* width: 90%; */
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  /* margin: 0 auto; */
  margin-bottom: 50px;
}

.nav-div-2{
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  text-align: center;
  color: white;
}
  
.span1{
  color: orangered;

}
/* main{
  width: 1440px;
  margin: 0% auto; */
}
/* nav style ends here */

/* banner section starts here*/
.h1{
    
  color: rgb(253, 252, 252);
  font-size: 78px;
  margin: 5rem ;
}

.span-2{
  font-style: italic;
}
.banner-container{
 
  display: flex;
  justify-content: space-between;
  max-width: 1440px;

}

.banner-description {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: white;


}


.img-div{
  margin: 20px 5rem;
}


.btn-primary{
  display: flex;
  text-align: center;b  
}
.btn-1{
  color: rgb(255, 253, 252);
  text-align: center;
  background-color: orangered;
  padding: 30px;
  border: none;
  border-radius: 25px;
  margin: 5px;
  font-size: large;
  
}
  .btn-2{
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 30px ;
    margin: 5px;
    font-size: large;
  }

  
/* banner section ends here */

/* 2nd part starts here */

.h5{
  color: rgb(253, 252, 252);
  font-size: 45px;
  margin: 5rem ;
  font-size: ;
}

.row-div{
position: relative;

}


/* .row-p{
position: absolute;
} */


.change-your-habit{

  width: 1440px;
  margin: 0% auto;
  margin-top: 50px;
  
}

.habit-text{
  text-align: center;

}

.habit-title{
  font-size: 48px;
font-weight: 900;
color: white;
margin-bottom: 15px;
}

.habit-sub-title{
  font-size: 14px;
font-weight: 400;
color:  rgba(255, 255, 255, 0.5);
}

.habit-img-container{

  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 40px;
}

.habit-img {
  text-align: center;
}

.habit-img img{
  width: 250px;
  height: 250px;
border-radius: 50%;

}

.habit-img h5{
  text-align: center;
  color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
}
.habit-img p{
  color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-top: 10px;
}


.run-extra-container{
  width:1440px ;
  margin: 0% auto;
  border: 1px solid red;
  margin-top:100px;
  border-radius: 18px;
background: rgb(34, 34, 34);
display: flex;
justify-content: space-between;


}
.run-img img{

width: 366px;
height: 312px;


}

