@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
}

/* default styles */
   *{
      margin:0 ;
      
      padding: 0;

    }
    body{
      background: black;
  }

    /* header */
    .header-container{
      max-width: 1440px;
      margin: 0% auto;

    }

/* nav style starts here */

.nav-container{
  /* width: 90%; */
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  /* margin: 0 auto; */
  margin-bottom: 50px;
}

.nav-div-2{
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  text-align: center;
  color: white;
}
  
.span1{
  color: orangered;

}
/* nav style ends here */

/* banner section starts here*/
.h1{
    
  color: rgb(253, 252, 252);
  font-size: 78px;
  margin: 5rem ;
}

.span-2{
  font-style: italic;
}
.banner-container{
 
  display: flex;
  justify-content: space-between;
  max-width: 1440px;

}

.banner-description {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: white;


}

.banner-sub-title{
  color: rgba(255, 255, 255, 0.5);
margin-top: 1px;
font-size: 16px;
font-weight: 400;

}

.img-div{
  margin: 20px 5rem;
}


.btn-primary{
  display: flex;
  text-align: center;
  margin-top: 30px;
}
.btn-1{
  color: rgb(255, 253, 252);
  text-align: center;
  background-color: orangered;
  padding: 30px;
  border: none;
  border-radius: 42px;
  margin: 5px;
  font-size: large;
  
  
}
  .btn-2{
    color: white;
    /* border-radius: 30px; */
    text-align: center;
    padding: 30px ;
    margin: 5px;
    font-size: large;
    border: 1px solid rgb(250, 248, 248);
    border-radius: 42px;
    background-color: black;
  }

  .img-btn-container{
    position: absolute;
    backdrop-filter: blur(10px);
    max-width: 1440px;
    background: rgb(39, 38, 38);
    border-radius: 5px;
  }


  .img-btn-div1{
    top: 37%;
    right:  15%;
     
    color: white;
  }

   .img-btn-div2{
    bottom: 50%;
    left: 20%;
    color: white;
  }

  .img-btn-container h5{
    font-size: 20px;
  }

/* banner section ends here */



/* habit part starts here */

.h5{
  color: rgb(253, 252, 252);
  font-size: 45px;
  margin: 5rem ;
  font-size: ;
}

.row-div{
position: relative;

}


.change-your-habit{

  width: 1440px;
  margin: 0% auto;
  margin-top: 120px;
  
}

.habit-text{
  text-align: center;

}

.habit-title{
  font-size: 48px;
font-weight: 900;
color: white;
margin-bottom: 15px;
}

.habit-sub-title{
  font-size: 14px;
font-weight: 400;
color:  rgba(255, 255, 255, 0.5);
}

.habit-img-container{

  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 40px;
}

.habit-img {
  text-align: center;
}

.habit-img img{
  width: 250px;
  height: 250px;
border-radius: 50%;

}

.habit-img h5{
  text-align: center;
  color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
}
.habit-img p{
  color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-top: 10px;
}

.habits{
  
  max-width: 1060px;
  margin:  0 auto;
  margin-top: 80px;
}

.habit-title{
  font-size: 3rem;
  font-weight: 900;
  align-items: center;
  text-align: center;
  color: white;
}
.habit-subtitle{
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  
}
.habits-img-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 20px;
}

.habits-img-cotaner1{
  text-align: center;
}
.habits-img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.habits-img-title{
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.habits-img-subtitle{
   font-size: .8rem;
   font-weight: 400px;text-align: center;
   margin-top: 10px;
}

/* run enjoy part */
.run-extra-container{
  width:1440px ;
  margin: 0% auto;
  margin-top:150px;
  border-radius: 18px;

display: flex;
justify-content: space-around;

border-radius: 18px;
    background: rgb(34, 34, 34);
 }

.run-text-container{
    background: rgb(34, 34, 34);
    
}
.run-img img{

width: 366px;
height: 312px;
border-radius: 18px;
margin-top: 20px;
}

.run-title{
  color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
background: rgb(34, 34, 34);
margin-top: 30px;

}

.run-sub-title{
  color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
background: rgb(34, 34, 34);
margin-top: 10px;
letter-spacing: 0.3px;
} 
/* run enjoy res part end */

 
/* bmi starts here */

.bmi-title{
  font-weight:900;
Font-size:48px;
color: white;
text-align: center;
margin-top: 60px;
flex-direction: column;

justify-content: center;

}

.bmi-sub-title{
  font-weight: 400;
font-size: 14px;
color: rgba(255, 255, 255, 0.5);
text-align: center;

}

.container{
  width: 100%;
  height: 487px;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  background: rgb(34, 34, 34);
  margin-top: 100px;
  
}

.bmi-h3{
  color: white;
}

.bmi-chart-div1{
  margin-top: 80px;
  
  /* margin: 0 auto;
  display: flex;
  justify-content: space-between; */ 
}
.bmi-chart-div2{
  margin-top: 80px;
}
/* bmi ends here */

/* team section starts here */
 
.team_cantiner{
  /* border: 2px solid rebeccapurple; */
  max-width: 1440px;
  margin: 0% auto;
  margin-top: 100px;
}

.team-subtittle{

  color: aliceblue;
  text-align: center;
}

.team_one {
  width: 450px;
  height: 350px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.team_one img{
  left: 20px;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover
}

.team_text{
  color: aliceblue;
  margin-top: -50px;
  margin-left: 10px;
}
.team_img_contanier{
  display: grid;
  grid-template-columns: repeat(3,2fr);
  justify-items: center;
  border-radius: 18px;
  padding: 20px;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.1);
  gap: 20px;
}
 /* team section ends here */


/* footer section starts here */
.footer-container h4 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}
 

p  {
  color: rgb(124, 121, 121);
}
footer li{
  color: rgb(167, 159, 159);
}


.footer-container{
  background: rgb(70, 65, 65);
  margin-top: 120px;
  height: 350px;
  border-bottom: 1px solid rgb(173, 160, 160);
}

footer .footer-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  padding-bottom: 35px;
  padding-top: 35px;
}
.footer-container h2{
  color: rgb(177, 73, 36);
  font-size: 70px;
  font-weight: 800;
}

.footer-container  p{
  color: rgb(175, 168, 168);
}

.footer-div-2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.footer-div-2 ul{
  margin-top: 20px;
  font-size: 22px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.footer-container-copyright .footer-container{
  color: rgb(196, 183, 183);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 30px;
  
}
/* footer section ends here */
